body {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#todo-form, #todo-container {
  grid-column: 2;
}

#todo-form {
  padding: 2rem;
}

#todo-container {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}
